{% extends 'base.html' %}
{% load cart %}
{% load custom_filter %}
{% block content%}


<div class="container mt-5">
    <div class="card border-primary">
        <div class="card-body">
            <h4 class="card-title">MStore Cart</h4>
            <p class="card-text">Your Cart Details</p>

            <table class="table">
                <thead>
                <tr>
                    <th>sl no.</th>
                    <th>Image</th>
                    <th>Produc Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for product in cproducts%}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 47px" src="{{product.image.url}}" alt=""></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price|currency_sign }}</td>
                    <td>{{ product|cart_product_quantity:request.session.cart }}</td>
                    <td>{{ product|quantity_price_multiplication:request.session.cart|currency_sign }}</td>
                </tr>
                {% endfor %}
                <tfoot>
                <th colspan="5">Total</th>
                <th>{{ cproducts|total_cart_price:request.session.cart|currency_sign }}</th>
                </tfoot>
                </tbody>
            </table>
          <div class="m-3 p-3">
            <a href="#" data-bs-toggle="modal" data-bs-target="#checkout" class="btn btn-outline-primary col-lg-3 float-right">Check Out</a>
          </div>

        </div>
    </div>
</div>


<!--Check Out Modal-->

<!-- Modal -->
<div class="modal fade" id="checkout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Checkout Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/check-out" method="POST">
            {% csrf_token %}
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone" >
          </div>
          <br>
          <div class="form-group">
          <label for="address">Address</label>
            <input type="text" name="address" id="address" class="form-control" placeholder="Your Address">
          </div>
          <br>
          <br>
          <input type="submit" class="btn btn-outline-primary col-lg-6" value="Check Out">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}